md-sidenav-layout
    md-sidenav.app-sidenav(#sidenav, mode="side")
        | Headphone 2

    md-toolbar(color="primary")
        button(md-icon-button, (click)="sidenav.toggle()")
            md-icon menu

        div#hp-brand
            i.fa.fa-headphones.faa-pulse.animated-hover
            span Headphones 2

        span.app-toolbar-filler

    .container
        router-outlet

