/src/frontend/old_headphones
/src/frontend/typings
.idea/
src/headphones2.egg-info/
*.pyc
cache/
test/fixtures/cassettes/
*.db
src/frontend/node_modules
src/frontend/dist
src/headphones2/configuration.json
scripts/
src/frontend/coverage/
