#headphones-navbar
  box-shadow: 0 8px 6px -6px #999
  background lightgray

  #headphones-logo
    font-size 60px
    padding 30px
    line-height 40px
    padding-right: 10px

  .navbar-link
    padding 25px
    line-height 6.5
