#configuration-wrapper
  border-width 2px
  box-sizing: border-box
  border-style solid
  border-color lightgray
  padding 2em
  background-clip border-box
  background-color whitesmoke

  .form-header
    span
      font-size larger

    span:first-of-type
      margin-left -0.6em

    padding-bottom 0.5 em



.center-value
  padding-top 0.5rem

.unpad-left
  padding-left 0 !important