#hp-search
  margin-right 1em

  #hp-spinner
    float right
    margin-right 0.375em
    margin-top -1.55em
    position relative
    z-index 3

  #hp-search-results-dropdown
    width 100%
    max-width 23.75em
    border 1px solid
    border-color lightgray


.search-result
  background-color white
  margin 0 !important

  .col-sm-1
    flex-grow 1 !important

  #result-name
    text-overflow ellipsis
    flex 0 0 60% !important

  .btn-xs
    font-size 0.65rem !important
    line-height 0.2rem !important