<!--suppress ALL -->
form#configuration-wrapper
  .row
    h1(style='padding-bottom:1em;') Library Configuration
  .form-group
    .row.form-header
      .col-md-4
        span.fa.fa-folder-o.center-value &nbsp;
        span.text-left(for="libraryPathInput")  Library Path
      .form-control-sm.col-md-8.center-value.text-muted.text-xs-right This is where Headphones searches for your music files
    .form-group.row
      input.col-md-12.form-control([(ngModel)]='libraryPath', id="libraryPathInput", type='text', placeholder='{{(cachedConfiguration | async)?.MUSIC_LIBRARY_PATH}}')

