#contents-container
  width 100%
  position fixed
  left 270px
  top 100px
  padding-top 0 !important

//override bootstrap default
@media (min-width: 1200px)
  #contents-container
    max-width 950px

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em)
  #contents-container
    max-width 950px

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em)
  #contents-container
    max-width 950px

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em)
  #contents-container
    position relative
    left 0

// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em)
  #contents-container
    position relative
    left 0
