#sidebar-wrapper
  ul#sidebar-nav.nav.nav-sidebar
    li
      div
        span.fa.fa-music.sidebar-icon
        a([routerLink]="['/Manage/Library']") Library
    hr
    li
      div
        span.fa.fa-cog.sidebar-icon
        a([routerLink]="['/Manage/Library']") Another Item
    hr