#artist-table
  text-align center
  th
    text-align center

  img
    height 100px

  progress
    margin-bottom -1.28rem

  .progress-value
    color rgba(0, 0, 0, 0.72)
    font-weight bold
    font-size 0.9rem

