form#hp-search.form-inline.pull-right((mouseleave)="onMouseLeave($event)",
                                      (mouseenter)="onMouseEnter($event)")
    .form-group
        .input-group
          .input-group-btn
            button.btn.btn-secondary(disabled="true")
              span.fa.fa-search
              span &nbsp; {{mode | uppercase}}
            button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true" aria-expanded="false")
            .dropdown-menu.dropdown-menu-left
              a.dropdown-item(href="#", (click)="mode = 'artist'") Artist
              a.dropdown-item(href="#", (click)="mode = 'release'") Releases
            input.form-control(type="text",
                               [ngFormControl]="input",
                               (keydown.arrowdown)="onInputArrowDown($event)")
          span#hp-spinner.fa.fa-spinner.fa-spin([hidden]="!isSearching")
        div#hp-search-results-dropdown(*ngIf="searchResults", [hidden]="!showSearchResults")
          hp-search-result(*ngFor="#result of searchResults",
                           [result]="result",
                            tabindex ="-1")
