.row.search-result((click)="onClick($event)", tabindex ="-1")
 .col-md-6#result-name {{result.uniqueName}}
 .col-sm-1 {{result.score}}
 .col-sm-1.pull-right#add-button
     button.btn.btn-primary.btn-xs
       i.fa.fa-plus
       span Add
