.search-result
  background-color white

  #result-name
    text-overflow ellipsis

:focus
  background-color lightblue
  color white
  border 1.3px solid grey

.btn-xs
  font-size 0.65rem !important
  line-height 0.2rem !important