doctype html

p
  | For reward, here is a list of awesome computer scientists!

p
  | You want more? Add them yourself!

form((submit)="addName(newname)")
  input(#newname)
  button(type='submit') Add

ul
  li(*ngFor="#name of list.get()") {{name}}
